*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 20px; /* Relação de espaço entre os itens do conteiner */
  padding: 20px; /* Relação de espaço interno de um conteúdo */
  width: 800px; /* Relação de largura do conteúdo */
  margin: 0 auto; /* Trabalha em conjunto com o comando width para relacionar a proporção de tamanho na tela */
  background-color: orange;
}

section{
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1{
}

#section-2{
  flex-grow: 32; /* Para flex-grow não precisa utilizar px, é número direto */
}

#section-3{
  flex-grow: 48; /* Para flex-grow não precisa utilizar px, é número direto */
}

#section-4{
  flex-basis: 200px;
}

#section-5{
  order: -1;
}